@{
    ViewData["Title"] = "Admin Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card border-0 shadow my-5" style="min-height: 78vh;">
            <div class="card-body p-5 form-group justify-content-center align-self-center">
                <h2 class="font-weight-light text-center">Welcome to the Dashboard</h2>
                <br />
                <h5 class="font-weight-light text-center">@ViewBag.Error</h5>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card" style="width: auto;">
                                <img src="~/lib/bootstrap/dist/img/employee.png" class="card-img-top img-fluid" alt="Employee list">
                                <div class="card-body">
                                    <h5 class="card-title">Employee List</h5>
                                    <p class="card-text">View employees and check their in/out times</p>
                                    <a asp-action="EmployeeList" asp-controller="Admin" class="btn btn-secondary">View Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: auto;">
                                <img src="~/lib/bootstrap/dist/img/visitor.png" class="card-img-top img-fluid" alt="Visitors">
                                <div class="card-body">
                                    <h5 class="card-title">Visitor History</h5>
                                    <p class="card-text">Check visitor history and details of the visitor</p>
                                    <a asp-action="VisitorLogs" asp-controller="Admin" class="btn btn-secondary">View Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: auto;">
                                <img src="~/lib/bootstrap/dist/img/employeecheck.png" class="card-img-top img-fluid" alt="Statistics">
                                <div class="card-body">
                                    <h5 class="card-title">Statistics</h5>
                                    <p class="card-text">Graphs of the in's and out's of Net Configs&trade; Employees</p>
                                    <a asp-action="Statistics" asp-controller="Admin" class="btn btn-secondary">View Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
