@model IEnumerable<AccessControlSystem.Models.Employee>
@{
    ViewData["Title"] = "Check In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form>
        <div class="container-fluid">
            <div class="card border-0 shadow my-5" style="min-height: 78vh;">
                <div class="card-body p-5 justify-content-center align-self-center" style="margin-top: 20vh;">
                    <div class="form-group text-center">
                        @if (ViewBag.LoggedIn == "" || ViewBag.LoggedIn == null)
                        {
                            <h3 class="font-weight-light text-center">Welcome Back</h3>
                        }
                        <h3 class="font-weight-light text-center">@ViewBag.LoggedIn</h3>
                        <h3 class="font-weight-light text-center">@ViewBag.AlreadySignedIn</h3>
                        <h3 class="font-weight-light text-center">@ViewBag.AlreadyCheckedOut</h3>
                        <hr />
                        <h5 class="font-weight-light text-center">Are you Checking In or Checking Out?</h5>
                        <br />
                        <button name="checkIn" class="btn btn btn-outline-dark" value="1" asp-action="CheckIn" asp-controller="Employee" formmethod="post">CHECKING IN</button>
                        <button name="checkOut" class="btn btn btn-outline-dark" value="1" asp-action="CheckIn" asp-controller="Employee" formmethod="post">CHECKING OUT</button>
                    </div> 
                </div>
            </div>
        </div>
</form>
</body>
</html>
