@model IEnumerable<AccessControlSystem.Models.Employee>
@{
    ViewData["Title"] = "Check In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Network Configurations&trade;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form>
        <div class="container-fluid">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <div class="form-group text-center">
                        <h5 class="font-weight-light text-center">@ViewBag.LoggedIn</h5>
                        <hr />
                        <div style="height: 80px"></div>
                        <h5 class="font-weight-light text-center">Choose Whether You Are Checking In or Checking Out:</h5>
                        <br />
                        <button name="checkIn" class="btn btn btn-outline-dark" value="1" asp-action="CheckIn" asp-controller="Employee" formmethod="post">CHECK IN</button>
                        <button name="checkOut" class="btn btn btn-outline-dark" value="1" asp-action="CheckIn" asp-controller="Employee" formmethod="post">CHECK OUT</button>
                        <div style="height: 80px"></div>
                    </div> 
                </div>
            </div>
        </div>
</form>
</body>
</html>
